.digitalization {

  .container {

    .digitalizationTitle {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media screen and (max-width: 768px) {
        gap: 12px;
      }


      @media screen and (max-width: 600px) {
        gap: 10px;
      }

      h5 {
        color: var(--Text-color, #222);
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin: 0;
        max-width: 476px;

        @media screen and (max-width: 768px) {
          font-size: 26px;
        }

        @media screen and (max-width: 600px) {
          font-size: 22px;
        }
      }

      p {
        color: var(--Text-color, #222);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 190px 0;

        @media screen and (max-width: 768px) {
          font-size: 18px;
          margin: 0 100px 0;
        }


        @media screen and (max-width: 600px) {
          font-size: 16px;
          margin: 0;
          text-align: right;
        }


      }

      .digitalizationImg {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: auto;
          margin-top: -220px;



          @media screen and (max-width: 1280px) {
            margin-top: -200px;

          }

          @media screen and (max-width: 1220px) {
            margin-top: -160px;
          }

          @media screen and (max-width: 1140px) {
            margin-top: -100px;
          }

          @media screen and (max-width: 1024px) {
            margin-top: -50px;
          }

          @media screen and (max-width: 768px) {
            margin-top: -0px;
          }

        }
      }



    }

    .digitalizationContent {
      margin-top: 34px;

      .digitalizationWrapper {
        display: grid;
        grid-template-columns: 6fr 6fr;

        @media screen and (max-width: 600px) {
          grid-template-columns: 12fr;
        }

        &:nth-child(1) {
          .digitalizationLeft {
            border-right: 1px solid rgba(28, 28, 28, 0.20);
            border-left: none;

            @media screen and (max-width: 600px) {
              border-right: none;
            }
          }
        }

        &:nth-child(2) {
          @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column-reverse;
          }

          .digitalizationLeft {
            border-left: 1px solid rgba(28, 28, 28, 0.20);
            border-right: none;

            @media screen and (max-width: 600px) {
              border-left: none;
              border-right: none;

            }
          }
        }

        &:nth-child(3) {
          .digitalizationLeft {
            border-right: 1px solid rgba(28, 28, 28, 0.20);
            border-left: none;

            @media screen and (max-width: 600px) {
              border-right: none;
            }
          }
        }

        h2 {
          color: var(--black-100, #1C1C1C);
          -webkit-text-stroke-width: 1;
          -webkit-text-stroke-color: rgba(28, 28, 28, 0.20);
          font-size: 60px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;

          @media screen and (max-width: 768px) {
            font-size: 34px;
          }

          @media screen and (max-width: 600px) {
            font-size: 24px;
          }
        }

        p {
          color: var(--Text-color, #222);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;

          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }

        ul {
          margin: 0;

          li {
            color: var(--Text-color, #222);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;

            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
          }
        }

        .digitalizationLeft {
          border-top: 1px solid rgba(28, 28, 28, 0.20);
          border-bottom: 1px solid rgba(28, 28, 28, 0.20);
          background: rgba(255, 255, 255, 0.30);
          backdrop-filter: blur(2px);
          padding: 30px;

          @media screen and (max-width: 768px) {
            padding: 16px;
          }

          @media screen and (max-width: 600px) {
            padding: 16px 11px 50px;
          }


        }

        .digitalizationRight {
          border-top: 1px solid rgba(28, 28, 28, 0.20);
          border-bottom: 1px solid rgba(28, 28, 28, 0.20);
          background: rgba(255, 255, 255, 0.30);
          backdrop-filter: blur(2px);
          padding: 30px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          @media screen and (max-width: 768px) {
            padding: 16px;
            gap: 10px;
          }

          @media screen and (max-width: 600px) {
            padding: 16px 16px;
          }




        }
      }
    }
  }
}