.aboutAll {
  width: 100%;
  background: #fff;
  padding: 0 0 20px 0;

  padding-top: 90px;
  .aboutContainer {
    max-width: var(--maxWidth);
    margin: 0 auto;
    width: 90%;
    .aboutTitle {
      position: relative;
      width: 100%;
      height: 190px;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        height: 151px;
        @media screen and (max-width: 600px) {
          height: 90px;
        }
      }
      h1 {
        margin: 0;
        color: var(--Text-color, #222);
        font-size: 80px;
        font-weight: 900;
        line-height: 66px;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 62px;
          @media (max-width: 600px) {
            font-size: 42px;
            line-height: 36px;
          }
        }
      }
      h5 {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        padding-left: 13rem;
        top: 120px;
        color: var(--black, #161616);
        font-size: 38px;
        font-weight: 400;
        opacity: 0.3;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 38px;
          padding-left: 5rem;
          top: 90px;
          @media (max-width: 480px) {
            font-size: 28px;
            padding-left: 3rem;
            top: 60px;
          }
        }
      }
    }
    hr {
      height: 1px;
      opacity: 0.3;
      background: #161616;
      margin: 0;
    }
    .navflex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1368px) {
        flex-direction: column;
      }
      ul {
        padding: 0;
        display: grid;
        row-gap: 61px;
        margin: 0;
        @media (max-width: 768px) {
          row-gap: 38px;
          @media (max-width: 550px) {
            margin-top: 20px;
          }
        }
        h4 {
          margin: 0;
          width: 100%;
          color: var(--Text-color, #222);
          font-size: 60px;
          font-weight: 800;
          line-height: 66px;
          @media (max-width: 768px) {
            font-size: 50px;
            @media (max-width: 550px) {
              font-size: 34px;
              line-height: normal;
              br {
                display: none;
              }
            }
          }
        }
        li {
          width: 661px;
          color: var(--Text-color, #222);
          font-size: 18px;
          font-weight: 500;
          opacity: 0.7;
          list-style: none;
          @media (max-width: 768px) {
            width: 100%;
            font-size: 16px;
            @media (max-width: 550px) {
              font-size: 14px;
              line-height: normal;
            }
          }
        }
      }
      .traced {
        margin-top: 10px;
        @media (max-width: 768px) {
          width: 100%;
          margin: 60px 0 0 0;
          // margin-top: -130px;
          @media (max-width: 600px) {
            width: 100%;
            // margin-top: 20px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            // width: 341px;
            height: 275px;
            margin-top: 20px;
          }
        }
      }
    }
    .navblock {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 96px 0 0 0;
      @media (max-width: 1300px) {
        // flex-direction: column;
        margin: 66px 0 0 0;
        @media (max-width: 730px) {
          margin: 20px 0 0 0;
        }
      }
      ul {
        // padding: 88px 0 0 0;
        padding: 0;
        @media (max-width: 1300px) {
          // padding: 0;
        }
        li {
          max-width: 600px;
          width: 100%;
          color: #191a1b;
          font-size: 18px;
          font-weight: 400;
          opacity: 0.7;
          list-style: none;
          margin: 0;
          @media (max-width: 968px) {
            // width: 364px;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
          }
        }
      }
      .ul {
        padding: 0 0 30px 160px;
        @media (max-width: 1300px) {
          padding: 0 0 0 70px;
          @media (max-width: 730px) {
            padding: 0;
          }
        }
        h4 {
          color: #191a1b;
          font-size: 52px;
          font-weight: 800;
          text-transform: uppercase;
          margin: 0 0 20px 0;
          @media (max-width: 768px) {
            font-size: 52px;
            @media (max-width: 730px) {
              font-size: 40px;
            }
          }
        }
        .metam {
          position: absolute;
          left: -130px;
          top: 12rem;
          @media screen and (max-width: 1300px) {
            width: 131px;
            height: 128px;
            left: -70px;
            top: 16rem;
            @media (max-width: 768px) {
              width: 131px;
              left: -80px;
              @media (max-width: 738px) {
                display: none;
              }
            }
          }
        }
        .list {
          display: flex;
          justify-content: space-between;
          gap: 37px;
          width: 100%;
          p {
            margin: 0;
            width: 398px;
            color: #191a1b;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          @media (max-width: 730px) {
            flex-direction: column;
          }
          @media (max-width: 968px) {
            gap: 20px;
            p {
              max-width: 250px;
              width: 100%;
              color: #191a1b;
              font-size: 16px;
              font-weight: 600;
              margin: 0;
              @media (max-width: 730px) {
                max-width: 450px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .illustration {
    width: 100%;
    height: 1648px;
    background: #f8f8f8;
    padding-bottom: 100px;
    @media (max-width: 934px) {
      height: 100%;
      padding-bottom: 30px;
    }
    .backtitle {
      padding: 0 0 240px 0;
      position: relative;
      @media (max-width: 768px) {
        padding: 0 0 200px 0;
        @media (max-width: 500px) {
          padding: 0 0 120px 0;
        }
      }
      h4 {
        position: absolute;
        top: 100px;
        max-width: 870px;
        width: 100%;
        color: #191a1b;
        font-size: 48px;
        font-weight: 700;
        margin: 0;
        @media (max-width: 768px) {
          top: 60px;
          font-size: 40px;
          max-width: 684px;
          width: 100%;
          @media (max-width: 500px) {
            font-size: 22px;
            top: 40px;
          }
        }
      }
    }
    .transformborder {
      .transfrom {
        width: 100%;
        height: 100%;
      }
    }
    .abtitle {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
      @media (max-width: 430px) {
        row-gap: 20px;
      }

      h4 {
        position: absolute;
        top: -200px;
        width: 537px;
        color: #191a1b;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        @media (max-width: 1293px) {
          top: -100px;
          position: unset;
          @media (max-width: 768px) {
            font-size: 18px;
            line-height: normal;
            width: 328px;

            @media (max-width: 430px) {
              font-size: 16px;
            }
          }
        }
      }
      ul {
        display: flex;
        justify-content: end;
        width: 100%;
        padding: 0;
        margin: 0;
        li {
          width: 600px;
          color: #191a1b;
          font-size: 20px;
          font-weight: 400;
          list-style: none;
          @media (max-width: 768px) {
            font-size: 14px;
            width: 352px;
            padding: 20px 0 0 0;
            @media (max-width: 430px) {
              font-size: 14px;
              width: 260px;
              padding: 0;
            }
          }
        }
      }
    }
    .contextcenter {
      display: flex;
      justify-content: end;
      width: 100%;
      padding: 71px 0 0 0;
      @media (max-width: 934px) {
        padding: 20px 0 0 0;
      }
      h4 {
        width: 1030px;
        color: #191a1b;
        font-size: 40px;
        font-weight: 400;
        margin: 0;
        @media (max-width: 934px) {
          font-size: 20px;
          @media (max-width: 430px) {
            font-size: 18px;
            width: 300px;
          }
        }
        span {
          color: #000;
          font-size: 40px;
          font-weight: 700;
          @media (max-width: 934px) {
            font-size: 20px;
            @media (max-width: 430px) {
              font-size: 18px;
            }
          }
        }
        .span {
          color: #191a1b;
        }
      }
    }
  }
  .ourteamtitle {
    margin: 100px 0 0 0;
    color: #191a1b;
    font-size: 52px;
    font-weight: 800;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 28px;
      margin: 70px 0 0 0;
      @media (max-width: 430px) {
        margin: 40px 0 0 0;
      }
    }
  }
  .ourteamflex {
    display: flex;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 685px) {
      flex-direction: column;
      row-gap: 10px;
    }
    p {
      max-width: 610px;
      width: 100%;
      color: #191a1b;
      font-size: 38px;
      font-weight: 500;
      @media (max-width: 1328px) {
        font-size: 34px;
        @media (max-width: 1230px) {
          font-size: 30px;
          @media (max-width: 1030px) {
            font-size: 24px;
            @media screen and (max-width: 768px) {
              font-size: 20px;
            }
          }
        }
      }
      @media (max-width: 768px) {
      }
    }
    .ourimg {
      width: 100%;
      height: 100%;
      @media (max-width: 1328px) {
        width: 550px;
        height: 350px;
        @media (max-width: 1230px) {
          width: 450px;
          height: 250px;
          @media screen and (max-width: 1030px) {
            width: 350px;
            height: 200px;
            @media screen and (max-width: 768px) {
              width: 100%;
              height: 190px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .ourteamul {
    display: flex;
    gap: 10px;
    padding: 49px 0 100px 0;
    @media screen and (max-width: 685px) {
      flex-direction: column;
      padding: 10px 0 40px 0;
    }
    .ourteamli {
      list-style: none;
      max-width: 630px;
      width: 100%;
      color: #191a1b;
      font-size: 20px;
      font-weight: 400;
      opacity: 0.7;
      @media screen and (max-width: 685px) {
        font-size: 14px;
      }
    }
    .ourteamli2 {
      list-style: none;
      max-width: 600px;
      width: 100%;
      color: #191a1b;
      font-size: 20px;
      font-weight: 400;
      opacity: 0.7;
      @media screen and (max-width: 685px) {
        font-size: 14px;
      }
    }
  }
  .ourflex2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    @media screen and (max-width: 1262px) {
      // flex-direction: column;
      margin-bottom: 20px;
    }
    nav {
      p {
        color: var(--Text-color, #222);
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        opacity: 0.7;
        margin: 0;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      h4 {
        max-width: 596px;
        width: 100%;
        color: #191a1b;
        font-size: 38px;
        font-weight: 600;
        margin: 0;
        @media screen and (max-width: 1262px) {
          width: 100%;
          max-width: 1440px;
          font-size: clamp(1rem, 2.5vw, 2rem);
        }
      }
    }
    .ourimage {
      @media screen and (max-width: 1262px) {
        width: 400px;
        height: 300px;
        @media screen and (max-width: 845px) {
          width: 300px;
          height: 250px;
          @media screen and (max-width: 625px) {
            display: none;
          }
        }
      }
    }
  }
  .ourflex3 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @media screen and (max-width: 1262px) {
      flex-direction: column;
    }
    .ourimage {
      border-radius: 3px;
      @media screen and (max-width: 1262px) {
        display: none;
      }
    }
    .flexblock {
      display: grid;
      .flexitem {
        display: flex;
        align-items: start;
        gap: 16px;
        border-bottom: 0.793px solid var(--stroke, rgba(160, 160, 160, 0.3));
        padding: 20px 0 20px 16px;
        p {
          color: #191a1b;
          font-size: 16px;
          font-weight: 400;
          width: 508px;
          opacity: 0.7;
          margin: 0;
          @media screen and (max-width: 1262px) {
            width: 100%;
          }
        }
        .star {
          max-width: 60px;
          width: 100%;
          max-height: 60px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 30px;
          border: 1.586px solid var(--black, #222);
          background: var(--black, #222);
        }
      }
    }
  }
  .ourtitle {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0 0;
    @media screen and (max-width: 962px) {
      padding: 60px 0 0 0;
      @media screen and (max-width: 624px) {
        flex-direction: column;
        row-gap: 6px;
        @media screen and (max-width: 685px) {
          padding: 40px 0 0 0;
        }
      }
    }
    p {
      color: var(--Text-color, #222);
      font-size: 18px;
      // font-size: clamp(18px, 1.5vw, 2rem);
      font-weight: 400;
      text-transform: uppercase;
      opacity: 0.7;
      width: 190px;
      // width: 100%;
      margin: 0;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
    h4 {
      color: #191a1b;
      font-size: clamp(1rem, 2.5vw, 3rem);
      font-weight: 600;
      max-width: 1035px;
      width: 100%;
      color: #191a1b;
      margin: 0;
      @media screen and (max-width: 1262px) {
        font-size: 20px;
      }
    }
  }
  .ourtextfleximg {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 100px 0;
    @media screen and (max-width: 685px) {
      padding: 20px 0 40px 0;
      @media screen and (max-width: 400px) {
        padding: 10px 0 20px 0;
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 100%;
      p {
        width: 610px;
        color: #191a1b;
        font-size: 18px;
        opacity: 0.7;
        font-weight: 400;
        margin: 0 0 18px 0;
        @media screen and (max-width: 1341px) {
          width: 100%;
          @media screen and (max-width: 685px) {
            font-size: 14px;
          }
        }
      }
      .ourtextimg2 {
        display: flex;
        width: 610px;
        justify-content: end;
        h5 {
          color: #191a1b;
          font-size: 24px;
          font-weight: 600;
          width: 405px;
          margin: 0;
          @media screen and (max-width: 1341px) {
            // width: 100%;
            @media screen and (max-width: 685px) {
              font-size: 16px;
            }
          }
        }
        @media screen and (max-width: 1341px) {
          justify-content: end;
          width: 100%;
        }
      }
    }
    .ourtextimg {
      border-radius: 3px;
      width: 100%;
      @media screen and (max-width: 1341px) {
        display: none;
      }
    }
  }
  .footflex4 {
    display: flex;
    justify-content: space-between;
    gap: 39px;
    @media screen and (max-width: 685px) {
      flex-direction: column;
      row-gap: 6px;
    }
    p {
      color: var(--Text-color, #222);
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      opacity: 0.7;
      margin: 0;
      width: 191px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        width: 191px;
      }
    }
    h4 {
      max-width: 1035px;
      width: 100%;
      color: #191a1b;
      font-size: clamp(2.3rem, 2.5vw, 3rem);
      font-weight: 600;
      margin: 0;
      @media screen and (max-width: 1262px) {
        font-size: 20px;
      }
    }
  }
  .footborder {
    margin: 50px 0 0 0;
    @media screen and (max-width: 400px) {
      margin: 40px 0 0 0;
    }
    h4 {
      width: 295px;
      color: var(--Text-color, #222);
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      opacity: 0.7;
      margin: 0;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        width: 162px;
      }
    }
    .img4 {
      display: flex;
      justify-content: end;
      margin: 30px 0 0 0;
      @media screen and (max-width: 500px) {
        // width: 100%;
        justify-content: center;
        // width: 592px;
        height: 128px;
        overflow-x: scroll;
      }
      .footimgborder {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 500px) {
          width: 592px;
          height: 128px;
          padding-left: 200px;
          @media screen and (max-width: 390px) {
            margin-left: 51px;
          }
        }
      }
    }
  }
  .footraduis {
    position: relative;
    margin: 71px 0 0 0;
    h4 {
      position: absolute;
      left: 30px;
      top: 60px;
      width: 295px;
      color: var(--Text-color, #222);
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      opacity: 0.7;
      margin: 0;
      @media screen and (max-width: 1233px) {
        top: -20px;
        left: 0;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
    h5 {
      position: absolute;
    }
    .img5 {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 1230px) {
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .footend {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 0 100px 0;
    @media screen and (max-width: 755px) {
      top: 100px;
    }
    p {
      width: 566px;
      color: #191a1b;
      font-size: 20px;
      font-weight: 400;
      margin: 0;
      @media screen and (max-width: 1280px) {
        font-size: 14px;
        max-width: 330px;
        width: 100%;
      }
    }
    h4 {
      position: absolute;
      right: 0;
      top: -140px;
      margin: 0;
      width: 600px;
      color: #191a1b;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      @media screen and (max-width: 1280px) {
        font-size: 16px;
        max-width: 330px;
        width: 100%;
        @media screen and (max-width: 790px) {
          top: -110px;
          // @media screen and (max-width: 400px) {
          //     top: 0;
          // }
        }
      }
    }
  }
}

.Block6s {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: var(--maxWidth);

  margin: 0 auto;
  .Block6 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    img {
      height: 400px;
      width: 50%;
      object-fit: cover;
    }
    h2 {
      margin: 0;
      padding: 0;
      color: var(--Text-color, #222);
      font-size: 34px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      color: var(--Text-color, #222);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      opacity: 0.7;
    }
    @media screen and (max-width: 555px) {
      h2 {
        font-size: 24px;
      }
      img {
        width: 100%;
      }
    }
  }
}

.Block6_image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  img {
    width: 100% !important;
  }
  h2 {
    font-size: 24px !important;
  }
  @media screen and (max-width: 888px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.Block6_ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    color: var(--Text-color, #222);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    opacity: 0.7;
  }
}
