.newsHaeder {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding-top: 50px;

  .newsContend {
    padding-top: 80px;

    padding-bottom: 100px;
    color: black;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--maxWidth);
    display: flex;
    width: 90%;

    .newsNav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid rgba(22, 22, 22, 0.3);
      padding-bottom: 20px;

      ul {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 10px;

        li {
          list-style: none;
          color: var(--Text-color, #222);
          text-align: center;
          display: flex;
          padding: 6px 16px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 34px;
          border: 1px solid var(--Text-color, #222);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          cursor: pointer;

          &:nth-child(2) {
            background: #da4e38;
            color: #f0f0f0;
            border: none;
          }
        }
      }

      svg {
        width: 24px;
        cursor: pointer;
        height: 24px;
      }
    }

    h1 {
      color: var(--Text-color, #222);
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .Cards {
      display: grid;
      gap: 30px;
      grid-template-columns: 73.4% 23.1%;

      .SwiperCards {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .Swiper {
          max-width: 100%;
        }
        p {
          color: var(--Text-color, #222);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.7;
          padding: 0;
          margin: 0;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          p {
            color: var(--black, #161616);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            opacity: 1;
            line-height: normal;
            &:nth-child(3) {
              opacity: 0.7 !important;
            }
          }
        }
      }
      .CardList {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      @media screen and (max-width: 1112px) {
        grid-template-columns: 100%;

        .CardList {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }

        .SwiperCards {
          gap: 10px;

          p {
            font-size: 16px;
          }
          span {
            gap: 7.5px;
          }
        }

        @media screen and (max-width: 650px) {
          .CardList {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          }
          .SwiperCards {
            p {
              font-size: 15px;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1112px) {
      padding-top: 60px;
      padding-bottom: 60px;

      h1 {
        font-size: 42px;
      }

      @media screen and (max-width: 650px) {
        padding-top: 40px;
        padding-bottom: 40px;
        h1 {
          font-size: 26px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        @media screen and (max-width: 430px) {
          h1 {
            font-size: 22px;
          }
        }
      }
    }
  }
}

.dangerouslySetInnerHTML {
  p {
    margin-bottom: 1.5em !important;
  }
}
